[enterpoint]
url = http://ats.borqs.com/api

[server]
auth =  http://report-server.sh.intel.com:8080/smartapi/accountbasic
session_create = http://report-server.sh.intel.com:8080/smartapi/group/3/session/%s
session_update = http://report-server.sh.intel.com:8080/smartapi/session/%s/uploadresult
case_create = http://report-server.sh.intel.com:8080/smartapi/session/%s/case/%s/create
case_update = http://report-server.sh.intel.com:8080/smartapi/session/%s/case/%s/update
file_upload = http://report-server.sh.intel.com:8080/smartapi/session/%s/case/%s/file

[account]
user = bhb
password = 902263

[device]
product = bkb
revision = 20131012
id = imei123456



